.Gallery {
	> .inner {
		.frame {
			transform: translateY(200px);
			opacity: 0;
			transition: transform 2s, opacity 2s;

			&.on {
				transform: translateY(0px);
				opacity: 1;
			}
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			article {
				float: left;
				width: 25%;
				padding: 10px;

				.inner {
					width: 100%;
					padding: 10px;
					background-color: #fff;
					box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.05);
					.pic {
						width: 100%;
						margin-bottom: 5px;
						img {
							width: 100%;
						}
					}
					h2 {
						font: normal 18px/1 'arial';
						color: #777;
					}
				}
			}
		}
	}
}
