.Location{
    #map{
        width: 100%;
        height: 500px;
        background-color: black;
    }
    button{
        width: 100px;
        height: 40px;
        border: 1px solid slateblue;
        background-color: lightblue;
        color: palevioletred;
        margin-bottom: 20px;
    }
    ul.branch{
        width: 100%;
        display: flex;
        gap: 20px;
        width: 100%;
        li{
            width: 10%;
            height: 40px;
            line-height: 40px;
            background-color: pink;
            text-align: center;
            color: slateblue;
            border: 1px solid palevioletred;
            &.on{
                background-color: rgba($color: slateblue, $alpha: .4);
                color: #fff;
            }
        }
    }
}